[submodule "bash"]
	path = bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule "yaml"]
	path = yaml
	url = https://github.com/ikatyang/tree-sitter-yaml
[submodule "toml"]
	path = toml
	url = https://github.com/ikatyang/tree-sitter-toml
[submodule "rust"]
	path = rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "dockerfile"]
	path = dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile
[submodule "javascript"]
	path = javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "typescript"]
	path = typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "python"]
	path = python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "json"]
	path = json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule "go"]
	path = go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "c"]
	path = c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "c-sharp"]
	path = c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule "cpp"]
	path = cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "css"]
	path = css
	url = https://github.com/tree-sitter/tree-sitter-css
[submodule "java"]
	path = java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "gomod"]
	path = gomod
	url = https://github.com/camdencheek/tree-sitter-go-mod
[submodule "cmake"]
	path = cmake
	url = https://github.com/uyha/tree-sitter-cmake
[submodule "ruby"]
	path = ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
[submodule "elixir"]
	path = elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir
