[submodule "bash"]
	path = bash
	url = https://github.com/tree-sitter/tree-sitter-bash.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/ikatyang/tree-sitter-yaml
[submodule "toml"]
	path = toml
	url = https://github.com/ikatyang/tree-sitter-toml
[submodule "rust"]
	path = rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
